*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, yellow);
    position: absolute;
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 1000px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 130px;
    height: 70px;
    float: left;
}
img{
    width: 200px;
    height: 200px;
    float: left;
    padding-top: 0px;
    padding-left:  0px;
}
.menu{
    width: 300px;
    height: 75px;
    float: left;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    float: left;
    list-style: none;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    left: 50px;
    color: white;
    transition: 0.5s ease-in-out;
}
ul li a:hover{
    color: blue;
}
.srch{
    width: 270px;
    float: left;
}
.search{
    width: 250px;
    height: 30px;
    float:  left;
    padding: 10px;
    margin-top: 35px;
    margin-left: 110px;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    border: 2px solid red;
    color: #fff;
}
.btn{
    color: #000;
    width: 100px;
    height: 36px;
    background-color: red;
    position: absolute;
    border-radius: 30px;
    float: left;
    top: 32px;
    left: 920px;
    cursor: pointer;
    font-weight: bolder;
    transition: .6s ease-in-out;
}
.btn:hover{
    background-color: #fff;
}
.btn:focus{
    outline: none;
}
.content{
    width: 800px;
    height: auto;
    margin: auto;
    position: absolute;
    left: 20px;
    top: 200px;
    color: #fff;
}
p{
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    position: relative;
    line-height: 30px;
    font-family: sans-serif;
}
.btn2{
    width: 300px;
    height: 50px;
    background-color: yellow;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #000;
    transition: .5s ease;
}
.btn2 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: red;
}
.btn2:hover{
    background: white;
}
span{
    color: orange;
}
.form{
    position: absolute;

    top: 150px;
    width: 250px;
    height: 350px;
    background: linear-gradient(to right, yellow, white);
    border-radius: 30px;
    left: 710px;
    margin: 5px;
    padding: 30px

}
.input-box{
    width: 100%;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid red;
    padding-bottom: 20px;
    padding-top: 10px;
}
::placeholder{
    color: #000
}
.input-box:focus{
    outline: none;
}
.sub-btn{
    display: block;
    position: absolute;
    width: 250px;
    height: 40px;
    color: blue;
    outline: none;
    background: red;
    margin-top: 30px;
    border-radius:  30px;
    cursor: pointer;
    margin: auto;
    transition:  .5s ease-in;
    
}
.sub-btn:hover{
    background: #fff;
}
h2{
    color: red;
    text-align: center;
    font-family: sans-serif;
    margin-bottom:  40px;
}
.check{
    display: flex;
    padding: 20px;
    margin-top: 30px;
}
i{
    border: 10px;
    display: relative;
    color: red;
    margin-left: 20px;
    position: relative;
    bottom: 18px;
}
h6{
    position: relative;
    font-size: 15px;
    color:blue;
    top: 60px;
    text-align: center;
}
.reg-btn{
    background: none;
    color: red;
    border: none;
}
.reglink-btn{
    background: transparent;
    border: none;
    padding-left: 10px;
}
